.pf-c-page__header-tools-item span {
  margin-right: '1em';

  font-weight: 'bold';
  font-size: '1em';
}

.pf-c-page__header-tools {
  grid-column: 2/4 !important;
}

.pf-c-page__header-tools-item {
  margin-right: 20em;
}
