.hub-resource-card {
  background-color: white;
  height: 23em;
  width: 18.5em;
  color: black;
  border-radius: 0.5em;
}

.hub-rating-icon {
  color: #484848;
  height: 1.7em;
  width: 1.7em;
}

.hub-resource-name {
  font-weight: normal;
  font-size: 1.5em;
}

.hub-resource-version {
  padding-left: 0.7em;
  font-weight: normal;
  vertical-align: -0.25em;
}

.hub-resource-updatedAt {
  margin-bottom: 0.5em;
  margin-top: -0.1em;
}

.hub-tags {
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}

.div {
  color: black;
}

.hub-resource-body {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.3em;
  max-height: 10em;
}

.fade {
  position: relative;
}
.fade:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
