.hub-details-description-heading {
  font-size: 1.3em;
}

.hub-details-build-icon {
  right: -8em;
  position: relative;
  top: 0.7em;
}

.hub-details-ok-icon {
  margin-right: 1em;
}

.hub-details-button {
  width: 8.5em;
}

.hub-details-card-footer {
  left: 12.5em;
  position: relative;
}

.hub-details-hyperlink {
  left: 1em;
  position: relative;
}

.hub-tags {
  margin-right: 0.3em;
  margin-bottom: 0.5em;
}
